/* css/styles.css of 7-Pound-Magnet for 7-Pound-Magnet.bauska.org */
.container {
  --s: 600px; /* was 150px; size of the logo */
  --d: 8s; /* --d: 8s; animation duration was 8s */
  --n: 4; /* --n: 4; number of visible logos */
  display: flex;
  overflow: hidden;
}

img {
  width: var(--s);
  offset: shape(from calc(var(--s)/-2) 50%,hline by calc(sibling-count()*max(100%/var(--n),var(--s) + 10px)));
  animation: x var(--d) linear infinite calc(-1*sibling-index()*var(--d)/sibling-count());
  animation-play-state: paused;
}
@keyframes x { 
  to {offset-distance: 100%}
}

/* extra styles */
.container {
  border: 1px solid;
  padding-block: 5px;
  margin: 20px auto;
}
:nth-child(2 of .container) img {
  animation-direction: reverse;
  animation-play-state: paused;
}
body {
  background: #ffefd5;  /* very pale orange */
}

.container {
  --s: 125px; /* size of the logo was 150px; */
  --d: 8s; /* animation duration was 8s; */
  --n: 4; /* number of visible logos */
  display: flex;
  overflow: hidden;
}

img {
  width: var(--s);
  offset: shape(from calc(var(--s)/-2) 50%,hline by calc(sibling-count()*max(100%/var(--n),var(--s) + 10px)));
  animation: x var(--d) linear infinite calc(-1*sibling-index()*var(--d)/sibling-count());
}
@keyframes x { 
  to {offset-distance: 100%}
}

/* extra styles */
.container {
  border: 1px solid;
  padding-block: 5px;
  margin: 20px auto;
}
:nth-child(2 of .container) img {
  animation-direction: reverse;
  animation-play-state: paused;
}

body {
  background: #ffefd5;
}

/* added 9/5/26 for marquee, text only */
.marquee {
  border: 2px solid red;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 600px;
}
.marquee__item {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: marquee-content;
  animation-timing-function: linear;
  padding: 5px 15px 5px 15px; 
}
.marquee:hover .marquee__item {
  animation-play-state: paused;
}

/**
* BOTH of the marquee items are going to be translating left at the same time.
* And, once each of them has translated to -100%, they will both snap back into
* place, making it seem as if they are continuously scrolling.
*/
@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
